<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.keith.qrcodescanner">

    <uses-permission android:name="android.permission.CAMERA" />

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme">

        <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" android:value="barcode"/>

        <activity android:name="com.example.keith.qrcodescanner.MainActivity"></activity>
        <activity android:name="com.example.keith.qrcodescanner.StaffStart"></activity>
        <activity android:name="com.example.keith.qrcodescanner.StaffSignin"></activity>
        <activity android:name="com.example.keith.qrcodescanner.Staffoptions2"></activity>
        <activity android:name="com.example.keith.qrcodescanner.StaffSignout"></activity>
        <activity android:name="com.example.keith.qrcodescanner.Addperson"></activity>
        <activity android:name="com.example.keith.qrcodescanner.Location"></activity>
        <activity android:name="com.example.keith.qrcodescanner.View"></activity>
        <activity android:name="com.example.keith.qrcodescanner.Removemember"></activity>
        <activity android:name="com.example.keith.qrcodescanner.Confirm"></activity>
        <activity android:name="com.example.keith.qrcodescanner.Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
